* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
  color: midnightblue;
  font-size: 16px;
}

.header, .footer {
  width: 100%;
  height: 50px;
  background-color: #0dcaf0;
  color: lavender;
}

.footer {
  position: absolute;
  bottom: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 10px 100px;
}

a {
  text-decoration: none;
  color: lavender;
}

.hero {
  width: 100%;
  height: 100%;
}

.profile {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile__card {
  width: 500px;
  height: 550px;
  background-color: #66ddf5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px mediumblue, 2px 3px 5px cyan inset;
}

.profile-image, .description-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px mediumblue;
  margin: 10px;
}

.profile-name {
  font-size: 36px;
}

.profile__description {
  width: 750px;
  height: 550px;
  background-color:#c2f1fb;
  border-radius: 25px;
  box-shadow: 3px 3px 3px mediumblue, 2px 3px 5px cyan inset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.description-header {
  font-size: 30px;
}

.description-info {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.types {
  margin-right: 100px;
}

.footer-info {
  margin: 10px 100px;
}

.filter {
  width: 87%;
  height: 45px;
  margin: 20px 100px;
  background: linear-gradient(220.16deg, #bdf1fb 28%, #0dcaf0 178%);
  box-shadow: 0px 5px 5px mediumblue;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 25px;
}

.filter__buttons {
  display: flex;
  flex-direction: row;
}

.filter__button {
  font-size: 10px;
  font-family: cursive, sans-serif;
  color: midnightblue;
  border-radius: 24px;
  padding: 5px 10px;
  margin: 1px 5px;
  background: linear-gradient(220.16deg, white 28%, #0dcaf0 178%);
  box-shadow: 0px 1px 1px mediumblue;
  cursor: pointer;
}

.friends-cards {
  width: 87%;
  height: 490px;
  margin: 20px 100px;
  background: linear-gradient(220.16deg, #AFFFE2 28%, #0dcaf0 178%);
  box-shadow: 0px 5px 5px mediumblue;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.friend__card {
  width: 150px;
  height: 200px;
  background: cyan;
  font-size: 10px;
  margin: 20px 25px;
}

.profile-image-small {
  width: 110px;
  height: 110px;
}

.profile-name-small {
  font-size: 15px;
}

.settings-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.personal-data, .settings-form {
  width: 575px;
  height: 550px;
  background-color: #bdf1fb;
  border-radius: 25px;
  box-shadow: 3px 3px 3px mediumblue, 2px 3px 5px cyan inset;
  margin: 20px 70px;
}
